* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border: 0;
  cursor: pointer;
  background-color: #f2f2f2;
}

header {
  z-index: 1;
  background-color: white;
  height: 40px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  box-shadow: 1px 2px 6px gray;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header .start {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .start button {
  font-size: large;
  background-color: white;
  padding: 0 10px;
}
header .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}
header .logo .pl {
  position: relative;
  bottom: 6px;
  font-size: 6px;
  font-weight: normal;
}
header .logo :first-child {
  color: red;
}
header .center input {
  height: 24px;
  width: 400px;
  border: 1px solid lightgray;
}
header .center button {
  height: 26px;
  border: 1px solid lightgray;
  width: 50px;
  position: relative;
  right: 5px;
}
header .end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .end button {
  background-color: white;
  padding: 0 10px;
}
header .end .login {
  color: #065fd4;
  border: 1px solid blue;
  width: 80px;
  margin-right: 10px;
}

#body {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
#body #left-section {
  background-color: white;
  display: flex;
  flex-direction: column;
}
#body #left-section .link-group {
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}
#body #left-section .link-group li {
  padding: 10px;
  cursor: pointer;
}
#body #left-section .login-info p {
  font-size: 12px;
  text-align: center;
}
#body #left-section .login-info .login {
  border: 1px solid #065fd4;
  color: #065fd4;
  display: flex;
  flex-direction: row;
  padding: 8px 14px;
  background-color: white;
  margin: 6px 8px;
  display: flex;
  gap: 10px;
}
#body #left-section .header {
  text-transform: uppercase;
  color: gray;
  font-size: 10px;
  font-weight: bold;
  padding-left: 8px;
}
#body #main-section {
  position: relative;
  bottom: 80px;
}
#body #main-section .buttons {
  padding: 8px 0;
  border: 1px solid white;
  background-color: white;
}
#body #main-section .buttons button {
  border: 1px solid lightgray;
  border-radius: 12px;
  padding: 4px 6px;
  margin: 0 12px;
}
#body #main-section .buttons .active {
  background-color: #030303;
  color: white;
}

.main-movie-section {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 8fr 8fr 1fr 1fr 1fr;
  gap: 20px;
}
.main-movie-section #av-1 {
  background-color: #e1bbbb;
  width: 250px;
  height: 130px;
}
.main-movie-section #av-2 {
  background-color: #e1c6bb;
  width: 250px;
  height: 130px;
}
.main-movie-section #av-3 {
  background-color: #eeeccc;
  width: 250px;
  height: 130px;
}
.main-movie-section #av-4 {
  background-color: #d7e1bb;
  width: 250px;
  height: 130px;
}
.main-movie-section #av-5 {
  background-color: #bbe1ca;
  width: 250px;
  height: 130px;
}
.main-movie-section #av-6 {
  background-color: #bbdce1;
  width: 250px;
  height: 130px;
}
.main-movie-section #av-7 {
  background-color: #bcbbe1;
  width: 250px;
  height: 130px;
}
.main-movie-section #av-8 {
  background-color: #d9bbe1;
  width: 250px;
  height: 130px;
}
.main-movie-section .movie-frame {
  position: relative;
  top: 176px;
  border: 1px solid lightgray;
  border-radius: 50%;
  background-color: lightgray;
  height: 40px;
  width: 40px;
}
.main-movie-section .movie-info {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.main-movie-section .movie-info .title {
  font-size: 14px;
  width: 198px;
  padding: 6px 0 0 0;
  grid-column: 2;
  font-weight: bold;
}
.main-movie-section .movie-info .info {
  grid-column: 2;
  color: rgb(156, 156, 156);
  font-size: 14px;
}
.main-movie-section .movie-info .info .channel-name {
  padding: 6px 0;
}
.main-movie-section .movie-info .info span {
  font-size: 12px;
  padding-right: 8px;
}
.main-movie-section .header {
  font-size: 18px;
  position: absolute;
  align-self: flex-start;
  margin: 10px 0 0 10px;
}

.main-movie-section:nth-of-type(3) {
  position: relative;
  bottom: 110px;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  margin: 0 10px;
  align-items: center;
  height: 340px;
}
.main-movie-section:nth-of-type(3) .movie {
  position: relative;
  top: 50px;
}
.main-movie-section:nth-of-type(3) .movie #av-1 {
  background-color: lightgray;
}
.main-movie-section:nth-of-type(3) .movie #av-2 {
  background-color: lightgray;
}
.main-movie-section:nth-of-type(3) .movie #av-3 {
  background-color: lightgray;
}
.main-movie-section:nth-of-type(3) .movie #av-4 {
  background-color: lightgray;
}
.main-movie-section:nth-of-type(3) .movie #av-5 {
  background-color: lightgray;
}
.main-movie-section:nth-of-type(3) .movie :first-child {
  margin-left: 10px;
}

.main-movie-section:nth-of-type(4) {
  position: relative;
  bottom: 110px;
}/*# sourceMappingURL=styles.css.map */