@import "./variables";

*{
    margin: 0;
    padding: 0;
}
body {
    background-color: $background-color;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    border: 0;
    cursor: pointer;
    background-color: $category-hover;
}
header {
    z-index: 1;
    background-color: white;
    height: 40px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 2px 6px gray;
    .start {
        display: flex;
        flex-direction: row;
        align-items: center;
        button {
            font-size: large;
            background-color: white;
            padding: 0 10px;
        }
    }
    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: bold;
        .pl {
            position: relative;
            bottom: 6px;
            font-size: 6px;
            font-weight: normal;
        }
        :first-child {
            color: red;
        }
    }
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .center{
        input {
            height: 24px;
            width: 400px;
            border: 1px solid lightgray;
        }
        button {
            height: 26px;
            border: 1px solid lightgray;
            width: 50px;
            position: relative;
            right: 5px;
        }
    }
    .end {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        button {
            background-color: white;
            padding: 0 10px;
        }
        .login{
            color: $login-color;
            border: 1px solid blue;
            width: 80px;
            margin-right: 10px;
            
        }
    }
}
#body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    #left-section {
        background-color: white;
        display: flex;
        flex-direction: column;
        .link-group {
            border: 1px solid lightgray;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px 0;
            li {
                padding: 10px;
                cursor: pointer;
            }
        }
        .login-info {
            p {
                font-size: 12px;
                text-align: center;
            }
            .login {
                border: 1px solid $login-color;
                color: $login-color;
                display: flex;
                flex-direction: row;
                padding: 8px 14px;
                background-color: white;
                margin: 6px 8px;
                display: flex;
                gap: 10px;
            }
        }
        .header {
            text-transform: uppercase;
            color: gray;
            font-size: 10px;
            font-weight: bold;
            padding-left: 8px;
        }
    }
    #main-section {
        position: relative;
        bottom: 80px;
        .buttons {
            padding: 8px 0;
            border: 1px solid white;
            background-color: white;
            button {
                border: 1px solid lightgray;
                border-radius: 12px;
                padding: 4px 6px;
                margin: 0 12px;
            }
            .active {
                background-color: $header-button;
                color: white;
            }
        }
    }
}
.main-movie-section {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 8fr 8fr 1fr 1fr 1fr;
    gap: 20px;
    $pom: 1;
    @each $color in $movie-colors{
        #av-#{$pom}{
            background-color: $color;
            width: 250px;
            height: 130px;
        }
        $pom:$pom+1;
    }
    .movie-frame {
        position: relative;
        top: 176px;
        border: 1px solid lightgray;
        border-radius: 50%;
        background-color: lightgray;
        height: 40px;
        width: 40px;
    }
    .movie-info {
        display: grid;
        grid-template-columns: 1fr 4fr;
        .title{
            font-size: 14px;
            width: 198px;
            padding: 6px 0 0 0;
            grid-column: 2;
            font-weight: bold;
        }
        .info {
            grid-column: 2;
            color: rgb(156, 156, 156);
            font-size: 14px;
            .channel-name {
                padding: 6px 0;
            }
            span {
                font-size: 12px;
                padding-right: 8px;
            }
        }
    }
    .header {
        font-size: 18px;
        position: absolute;
        align-self: flex-start;
        margin: 10px 0 0 10px;
    }
}
.main-movie-section {
    &:nth-of-type(3) {
        position: relative;
        bottom: 110px;
        border-top: 2px solid lightgray;
        border-bottom: 2px solid lightgray;
        margin: 0 10px;
        align-items: center;
        height: 340px;
        .movie {
            position: relative;
            top: 50px;
            @for $i from 1 through 5 {
                #av-#{$i}{
                    background-color: lightgray;
                }
            }
            :first-child {
                margin-left: 10px;
            }
        }
    }
}
.main-movie-section {
    &:nth-of-type(4) {
        position: relative;
        bottom: 110px;
    }
}


